<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appradar.viper.moovon">

    <permission
        android:name="com.appradar.viper.moovon.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.appradar.viper.moovon.permission.MAPS_RECEIVE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="mutils.RecognizeMotionService" />
        <service
            android:name="mutils.DrinkWaterService"
            android:exported="false" />
        <service
            android:name="mutils.MoveService"
            android:exported="false" />

        <receiver
            android:name="mutils.DrinkWaterAlarmReceiver"
            android:process=":remote" />

        <activity android:name=".DashBoard" />

        <receiver
            android:name="mutils.MoveAlarmReceiver"
            android:process=":remote" />

        <activity
            android:name=".SettingsActivity" android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".WelcomeActivity" android:label="@string/app_name" />
        <activity android:name=".GpsTrackerActivity" android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/googleMapsClientId" />

        <activity android:name=".MainActivity" android:label="@string/app_name" />
        <activity android:name=".WaterIntakeActivity" android:label="@string/app_name"/>
        <activity android:name=".MapActivity" android:label="@string/app_name" />
        <activity android:name=".MonitorUsingSensorActivity" android:label="@string/app_name" />
        <activity android:name=".TestActivity" android:label="@string/app_name"></activity>
    </application>

</manifest>